article { 
    position           : fixed;
    margin-left        : auto;
    margin-right       : auto;
    width              : inherit;
    right              : 0;
    left               : 15em;
    top                : 0;
    bottom             : 2.5em;
    padding-left       : 1em;
    padding-right      : 1em;
    padding-top        : 0em;
    border-left-style  : solid; 
    border-bottom-style: solid;
    overflow           : auto;
    text-align         : justify;
}

.article_short_timestamp {
    float       : right;
    font-size   : 0.8em;
    font-family : Monospace;
}

.article_short_description {
    font-style  : italic;
    clear       : both;
}

.article_timestamp {
    font-size   : 0.8em;
    font-family : Monospace;
    text-align  : center;
}

.article_heading {
    font-weight : bold;
    font-size   : 1.2em;
    text-align  : center;
}

.article_summary {
    font-style  : italic;
}

table            {
    margin      : 0 auto;
}

td               {
    text-align  : center;
}

