article {
    text-align         : justify;
}

.article_short_timestamp {
    float        : right;
    font-size    : 0.8em;
    font-family  : Monospace;
}

.article_short_description {
    font-style   : italic;
    clear        : both;
}

.article_timestamp {
    margin-top   : 1.2em;
    font-size    : 1.2em;
    font-family  : Monospace;
    text-align   : center;
}

.article_heading {
    font-weight        : bold;
    font-size          : 2em;
    text-align         : center;
    margin-left        : auto;
    margin-right       : auto;
}

.article_summary {
    background-color   : rgb(224,224,256);
    font-style         : italic;
    margin-left        : auto;
    margin-right       : auto;
    margin-top         : 1em;
    padding-top        : 1em;
    padding-bottom     : 1em;
    padding-left       : 1em;
    padding-right      : 1em;
}

.article_content {
    background-color : rgb(233,245,247);
    margin-left      : auto;
    margin-right     : auto;
    padding-top      : 1em;
    padding-left     : 1em;
    padding-right    : 1em;
}

table            {
    margin           : auto;
}

td               {
    text-align       : center;
}

