body    { 
    margin:auto;                   
}

article { 
    margin-top         : 1em;
    border-left-style  : solid;
    float              : left; 
    width              : 65%; 
}

nav     { 
    float              : left; 
    width              : 24%; 
}

footer {
    border-top-style   : solid; 
    clear              : both;
    text-align         : justify;
}
 
.alignLeft {
    float : left;
}

.alignRight {
    float : right;
}

p.rss_timestamp {
    float       : right;
    font-size   : 0.8em;
    font-family : Monospace;
}

.description {
    clear : both;
}


