body    { 
    margin:auto;                   
    font-family : Sans;
}

h1 {
    float       : center;
    text-align  : center;
}

article { 
    position           : fixed;
    top                : 0;
    bottom             : 2.5em;
    left               : 20%;
    padding-left       : 1em;
    padding-right      : 0em;
    padding-top        : 0em;
    border-left-style  : solid; 
    border-bottom-style: solid;
    width              : 79%; 
    overflow           : auto;
}

nav     { 
    position           : fixed;
    top                : 0;
    bottom             : 2.5em;
    width              : 20%; 
    background-color   : rgb(192,192,192);
}

footer {
    position           : fixed;
    bottom             : 0;
    left               : 0;
    right              : 0;
    height             : 2.5em;
    /* border-top-style   : solid; */
    clear              : both;
    text-align         : justify;
    background-color   : rgb(192,192,192);
}
 
.alignLeft {
    float : left;
}

.alignRight {
    float : right;
}

p.rss_timestamp {
    float       : right;
    font-size   : 0.8em;
    font-family : Monospace;
}

p.rss_description {
    font-style  : italic;
    clear : both;
}

p.article_timestamp {
    font-size   : 0.8em;
    font-family : Monospace;
    text-align  : justify;
}

p.article_heading {
    font-weight : bold;
    font-size   : 1.2em;
    text_align  : justify;
}

p.article_summary {
    font-style  : italic;
}

/* Custom formattings */

div.center_item {
    margin-left : auto;
    margin-right: auto;
    width       : 30%;
}

table.high_row tr {
    line-height : 2em;
}
