body    {
    margin             : auto;
    font-family        : Sans;
    font-size          : 1em;
}

article {
    position           : fixed;
    width              : inherit;
    right              : 0;
    left               : 17em;
    top                : 0;
    bottom             : 0;
    padding-left       : 10%;
    padding-right      : 10%;
    padding-top        : 0em;
    padding-bottom     : 5%;
    overflow           : auto;
    text-align         : center;
    background-color   : rgb(250,251,252);
}

.navBarElement {
    height             : 12em;
}

nav {
    height             : 100%;
    padding-right      : 0;
    position           : fixed;
    top                : 0;
    bottom             : 2.5em;
    width              : 17em;
    background-color   : rgb(224,224,256);
}

nav #logo_image {
    float              : left;
    display            : inline-block;
}

nav #menu_image {
    display            : none;
}

nav #div_main_menu {
    float              : none;
}
nav #rss_icon {
    width              : 1em;
}

nav li {
    list-style       : none;
}

footer  {
    position           : fixed;
    bottom             : 0;
    width              : 17em;
    left               : 0;
    height             : 2.5em;
    text-align         : justify;
    background-color   : rgb(224,224,256);
}

table tr:nth-child(odd) {
    background-color   : rgb(224,224,256);
}

table tr:nth-child(even) {
    background-color   : rgb(233,245,247);
}

h1 {
    font-size          : 2em;
}

table.listing {
    margin-top    : 2em;
    margin-left   : auto;
    margin-right  : auto;
    width         : 100%;
    text-align    : center;
}

table.listing tr:nth-child(odd) {
    background-color   : rgb(224,224,256);
}

table.listing tr:nth-child(even) {
    background-color   : rgb(236,245,256);
}

table.listing tr > td {
    padding-top        : 1em;
    padding-bottom     : 1em;
    padding-left       : 1em;
    padding-right      : 1em;
}

table.listing  div.heading {
    font-weight        : bold;
    font-size          : 1.2em;
}

table.listing  div.timestamp {
    font-size          : 0.8em;
    font-family        : Monospace;
}

.alignLeft {
    float : left;
}

.alignRight {
    float : right;
}

/* Custom formattings */

div.center_item {
    display     : block;
    margin-left : auto;
    margin-right: auto;
}

table.high_row tr {
    line-height : 2em;
}

td.center_item {
    text-align  : center;
}

@media only screen and (max-device-width : 640px) {

    article {
        position         : relative;
        width            : inherit;
        top              : auto;
        left             : 0;
    }

    .navBarElement {
        height           : 5em;
        height           : 10vh;
    }

    nav {
        height           : 5em;
        height           : 10vh;
        position         : relative;
        top              : 0;
        width            : 100%;
        bottom           : 0;
     }

    nav #menu_image {
        float            : right;
        display          : inline-block;
    }

    nav #logo_image {
    }

    nav #div_main_menu {
        display          : none;
        clear            : both;
        text-align       : left;
        background-color : rgb(255,255,255);
    }

    nav #rss_icon {
        width            : 1em;
        width            : 5vw;
        height           : 1em;
        height           : 5vw;
    }

    nav li {
        font-size        : 500%;
        font-size        : 5vw;
    }

   footer {
       position         : relative;
       bottom           : 0;
       width            : 100%;
       left             : 0;
       height           : 2.5em;
       text-align       : justify;
       background-color : rgb(224,224,255);
   }

}  /* @media */
